body {
  margin: 0;
  background: black;
}

.helpModal {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;

  background: #305f72;
  color: white;
  padding: 24px;
  border-radius: 3px;
  border: 3px solid black;
}

.knobs {
  position: absolute;
  top: 20px;
  left: 20px;

  background: #305f72;
  color: white;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid black;
}

.knob {
  display: block;
}

.knob-short-input {
  width: 50px;
}

.knob-text {
  width: 125px;
}

.index-list {
  background-image: linear-gradient(20deg, #85dcb0, #85dcd3);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  min-height: 100%;
  overflow: auto;
}

.index-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  min-width: 12rem;
}

.homepage-link {
  position: relative;
  min-height: 6rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  border: 0.125rem solid #e27d60;

  flex: 1;

  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;

  padding: 0.5rem;
  color: #242582;
}

.homepage-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  opacity: 1;
  transition: opacity 200ms ease-out;
  background-size: cover;
  background-position: center;
}

.homepage-link:hover::before {
  opacity: 0;
}

.homepage-link:hover,
.homepage-link:focus {
  outline: none;
}

.homepage-link.squid::before {
  background-image: url('assets/example_squid.png');
}
.homepage-link.chipboard::before {
  background-image: url('assets/example_chipboard.png');
}
.homepage-link.tiles::before {
  background-image: url('assets/example_tiles.png');
}
.homepage-link.pandorasBox::before {
  background-image: url('assets/example_pandora.png');
}
.homepage-link.eye::before {
  background-image: url('assets/example_eye.png');
}
.homepage-link.cubes::before {
  background-image: url('assets/example_cubes.png');
}
.homepage-link.coral::before {
  background-image: url('assets/example_coral.png');
}
.homepage-link.coral3d::before {
  background-image: url('assets/example_coral3d.png');
}
.homepage-link.swirl::before {
  background-image: url('assets/example_swirl.gif');
}
.homepage-link.joyDivision::before {
  background-image: url('assets/example_joyDivision.png');
}
.homepage-link.city::before {
  background-image: url('assets/example_city.png');
}

.homepage-link.motionDetection::before {
}
.homepage-link.swirl::before {
}
.homepage-link.infinity::before {
}
